<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yichengxuetang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YiChengXueTang"
        android:usesCleartextTraffic="true">
        <activity android:name=".activitys.messageactivitys.PrivateConvesationActivity"></activity>
        <activity android:name=".activitys.questionbankactivitys.OrderExerciseActivity" />
        <activity android:name=".activitys.questionbankactivitys.TestExerciseActivity" />
        <activity android:name=".activitys.learningactivitys.BigImageActivity" />
        <activity
            android:name=".activitys.learningactivitys.XbSectionDetailActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".mediaplayer.OpenMusicActivity" />
        <activity android:name=".activitys.learningactivitys.DakeCourseListActivity" />
        <activity android:name=".activitys.learningactivitys.XbCourseListActivity" />
        <activity android:name=".activitys.learningactivitys.OtherAddressActivity" />
        <activity android:name=".activitys.learningactivitys.EditActivity" />
        <activity
            android:name=".activitys.learningactivitys.DakeStepActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activitys.logins.BindingWechatActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="易橙学堂"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.logins.RestPasswordActivity" />
        <activity android:name=".activitys.logins.ForgetPasswordActivity" />
        <activity android:name=".activitys.logins.PasswordLoginLoActivity" />
        <activity android:name=".activitys.logins.VcLoginActivity" />
        <activity android:name=".activitys.logins.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.learningactivitys.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.MainActivity" />

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="11b0645c978128cea97843e9" />
    </application>

</manifest>